body {
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  margin: 6em 6em;
  font-weight: bold;
}
ul {
  width: 1000px;
  height: 100px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  perspective: 600;
}
li {
  float: left;
  margin-right: 10px;
  transform: rotateX(45deg);
}
li:last-of-type {
  margin-right: 0;
}

img {
  transition: transform 0.3s linear;
}

a {
  display: block;
}

img {
  width: 200px;
  height: 150px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
